.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  background: #6161a7;
  color: white;
  margin-bottom: -1px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
}

.tab-content {
  display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.tab-list-active {
  background: blueviolet;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
