.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  text-align: center;
  padding-bottom: 12px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  background: #6161a7;
  color: white;
  margin-bottom: -1px;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
}

.tab-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.tab-list-active {
  background: blueviolet;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

@media only screen and (min-width: 375px) {
  .tab-list-item {
    width: 4%;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    padding: 2px 6px 0px 4px;
    margin-right: 2px;
  }
}

@media only screen and (min-width: 600px) {
  .tab-list-item {
    width: 6%;
  }
}

@media only screen and (min-width: 1200px)  {
  .tab-list-item {
    width: 3%;
  }
  .tab-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
}
